@charset "utf-8";

body {
    background-color: #fffeee;
}
h1 {
    color: #0bd;
}
p {
    font-size: 20px;
}
.item {
    background: #0bd;
    color: #fff;
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px 200px 200px;
}